@import '../scss/variables';

.item {
    background-color: $secondary-color;
    transition: all 400ms ease;
    position: relative;
    width: 320px;
    margin: 40px 22px 16px 22px;
    border-radius: 8px;
    padding: 6px;
    transition: all 0.2s ease-in-out;
    .info{
        h2{
            color: $main-color;
        }
    }
}
.item:hover{
    transform: translateY(-5%);
}

.imgProduct:hover{
    position: relative;
    animation-name: myAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes myAnimation {
    0% {top: 0;}
    50% {top: -20px;}
    100% {top: 0;}
}
.imgGroup {
    height: 20%;
    position: absolute;
    right: -28px;
    top: 10px;
}